<!-- <app-navbar></app-navbar>

<table class="table table-hover" *ngIf = "show_table">
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>age</th>
        <th>gender</th>
        <th>email</th>
    </tr>
    <tr *ngFor = 'let student of student_data'>
        <td>{{ student.id }}</td>
        <td>{{ student.student_name | uppercase }}</td>
        <td>{{ student.age }}</td>
        <td>{{ student.gender | titlecase}}</td>
        <td>{{ student.email }}</td>

    </tr>
</table>
<div [ngSwitch]="color">
    <P *ngSwitchCase="'red'">red</P>
    <P *ngSwitchCase="'blue'">blue</P>
    <P *ngSwitchCase="'yellow'">yellow</P>
    <P *ngSwitchCase="'green'">green</P>
    <P *ngSwitchCase="'orange'">orange</P>
    <P *ngSwitchCase="'purple'">purple</P>
    <p *ngSwitchDefault>no color</p>

</div>
<div *ngIf = "courses.length>0; then show_course else no_course ">

</div> 
<ng-template #show_course> 
    -------template reference-----------
    <ul>
        <li *ngFor ='let c of courses' >
            {{c}}
        </li>
    </ul>
</ng-template>
<ng-template #no_course>
    <p>no course</p>

</ng-template>

<button class="btn btn-danger" [disabled]="disable_button">click here</button> 
<button class="btn btn-danger" disabled="{{disable_button}}">click here</button> -->
 <!-- string interpolation----takes boolien as string  -->
<!-- <table class="table table-hover " border="1">
    <tr>
        <td [attr.colspan]="cs">table</td>
    </tr>
    <tr>
        <td>1</td>
        <td>2</td>
    </tr>
</table> -->
<!-- <app-product></app-product> -->
<!-- <app-hw></app-hw> -->
<!-- <app-home-work></app-home-work> -->
<!-- <app-product></app-product> -->
<app-navbar></app-navbar>

<div class="sidebar">
    <div class="row">
        <div class="col-md-4">
            <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" [routerLink]="'/product'">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="'/about'">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="'/contact'">Contact</a>
                </li>
              </ul>
        </div>
        <div class="col-md-8">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>